* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    display: grid;

    grid-template-columns: repeat(25, auto);

    background: #ff0;
    border: 1px solid #000;
}

.node,
.obj {
    width: min(1.5vw, 18px);

    aspect-ratio: 1/1;
    border: 1px solid #000;
}

@media screen and (max-width:1024px) {

    .node,
    .obj {
        width: max(1.8vw, 14px);
        background: rgb(243, 9, 223);
    }
}

@media screen and (max-width:415px) {

    .node,
    .obj {
        width: max(1.5vw, 8px);
        background: pink;
    }
}



.obj {
    background-color: rgb(186, 10, 10);
}


.node.finish {
    background-color: rgb(249, 120, 14);
}

.node.show {
    background-color: rgb(6, 149, 159);
    transition: all 1s;
}

.node.start {
    background-color: rgb(33, 172, 54);
}

.node.end {
    background-color: rgb(63, 33, 172);
}